**Wine Classifier:** model to classify wines into three categories.

In [2]:
from sklearn import datasets
wine = datasets.load_wine()

In [3]:
dir(wine)

['DESCR', 'data', 'feature_names', 'target', 'target_names']

In [5]:
wine.data[:2]

array([[1.423e+01, 1.710e+00, 2.430e+00, 1.560e+01, 1.270e+02, 2.800e+00,
        3.060e+00, 2.800e-01, 2.290e+00, 5.640e+00, 1.040e+00, 3.920e+00,
        1.065e+03],
       [1.320e+01, 1.780e+00, 2.140e+00, 1.120e+01, 1.000e+02, 2.650e+00,
        2.760e+00, 2.600e-01, 1.280e+00, 4.380e+00, 1.050e+00, 3.400e+00,
        1.050e+03]])

In [6]:
wine.feature_names

['alcohol',
 'malic_acid',
 'ash',
 'alcalinity_of_ash',
 'magnesium',
 'total_phenols',
 'flavanoids',
 'nonflavanoid_phenols',
 'proanthocyanins',
 'color_intensity',
 'hue',
 'od280/od315_of_diluted_wines',
 'proline']

In [7]:
wine.target_names

array(['class_0', 'class_1', 'class_2'], dtype='<U7')

In [8]:
wine.target[0:2]

array([0, 0])

In [9]:
import pandas as pd
df = pd.DataFrame(wine.data,columns=wine.feature_names)
df.head(3)

   alcohol  malic_acid   ash  ...   hue  od280/od315_of_diluted_wines  proline
0    14.23        1.71  2.43  ...  1.04                          3.92   1065.0
1    13.20        1.78  2.14  ...  1.05                          3.40   1050.0
2    13.16        2.36  2.67  ...  1.03                          3.17   1185.0

[3 rows x 13 columns]

In [10]:
df['target'] = wine.target
df[30:40]

    alcohol  malic_acid   ash  ...  od280/od315_of_diluted_wines  proline  target
30    13.73        1.50  2.70  ...                          2.71   1285.0       0
31    13.58        1.66  2.36  ...                          2.88   1515.0       0
32    13.68        1.83  2.36  ...                          2.87    990.0       0
33    13.76        1.53  2.70  ...                          3.00   1235.0       0
34    13.51        1.80  2.65  ...                          2.87   1095.0       0
35    13.48        1.81  2.41  ...                          3.47    920.0       0
36    13.28        1.64  2.84  ...                          2.78    880.0       0
37    13.05        1.65  2.55  ...                          2.51   1105.0       0
38    13.07        1.50  2.10  ...                          2.69   1020.0       0
39    14.22        3.99  2.51  ...                          3.53    760.0       0

[10 rows x 14 columns]

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(wine.data, wine.target, test_size=0.3, random_state=100)

In [12]:
from sklearn.naive_bayes import GaussianNB, MultinomialNB
model = GaussianNB()
model.fit(X_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [14]:
mn = MultinomialNB()
mn.fit(X_train,y_train)
mn.score(X_test,y_test)

0.7777777777777778

In [13]:
model.score(X_test,y_test)

1.0